/7ºTema/Hola Mundo en texto/Hola mundo en texto/nbproject/private/
/7ºTema/Hola Mundo en texto/Hola mundo en texto/dist/
/7ºTema/Hola Mundo en texto/Hola mundo en texto/build/
/7ºTema/Hola Mundo en XML/Hola mundo en xml/nbproject/private/
/7ºTema/Hola Mundo en XML/Hola mundo en xml/build/
/7ºTema/Hola Mundo en XML/Hola mundo en xml/dist/
/7ºTema/BBDDXML/nbproject/private/
/7ºTema/BBDDXML/build/
/7ºTema/BBDDXML/dist/
/7ºTema/ProductosBBDD/nbproject/private/
/7ºTema/ProductosBBDD/build/
/7ºTema/ProductosBBDD/dist/
/7ºTema/ProdcutosBBDDJSON/nbproject/private/
/7ºTema/ProdcutosBBDDJSON/build/
/7ºTema/ProductosBBDD/ProdcutosBBDDJSON/build/
/7ºTema/ProductosBBDD/ProdcutosBBDDJSON/nbproject/private/
/7ºTema/Pruebaexamenxml/nbproject/private/
/7ºTema/Pruebaexamenxml/build/
/7ºTema/PruebaexamenJSON/nbproject/private/
/7ºTema/PruebaexamenJSON/build/
/7ºTema/LibrosXML/nbproject/private/
/7ºTema/LibrosXML/build/
/7ºTema/LibrosXML/dist/
/examenestema6-7/Prueba2XML/nbproject/private/
/examenestema6-7/Prueba2XML/dist/
/examenestema6-7/Prueba2XML/build/
/7ºTema/Videoclub/nbproject/private/
/7ºTema/Videoclub/build/
/7ºTema/Videoclub/dist/
